<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCEtEvG3Ne2DAZoTpjh4YXS-No6FOGtLJY</string>
	<key>GCM_SENDER_ID</key>
	<string>49868293201</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.michalrudy.Flash-Chat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-330af</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-330af.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:49868293201:ios:43cf1e974a7435621fe470</string>
</dict>
</plist>